/* 기본세팅 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

body,
html {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100%;

}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.width-1200 {
    width: 100%;
    max-width: 1200px;
}

/* header */
header {
    height: 70px;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.header-item {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu li {
    color: black;
    width: 85px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 5px 10px 5px 10px;
    margin-left: 5px;

    transition: color 0.3s ease;
    z-index: 1;
}

.header-menu li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: left 1s ease;
    z-index: -1;
    mix-blend-mode: normal;
}

.header-menu li:hover::before {
    left: 0;
}

.header-menu li.test {
    color: white;
    background-color: black;
    z-index: 1;

}

.header-menu li.test::before {
    left: 0;
    background-color: black;
    z-index: -1;

}

.header-menu li:hover {
    color: white;
}

@media(max-width:800px) {

    .header-menu {
        display: none;
    }

}



/* main */
.main-container {
    width: 100%;
    height: 100%;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-item {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
}

.left-page {
    width: 45%;
    background-image: url('/img//main.jpg');
    background-size: cover;
}

.right-page {
    width: 55%;
    position: relative;
    background-color: rgb(246, 251, 255);
    overflow-y: scroll;

    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */

}

/* 스크롤바 숨기기 */
.right-page::-webkit-scrollbar {
    display: none;
}

.right-page-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.right-page-item.active {
    display: block;
    opacity: 1;
}

@media(max-width:1000px) {

    .left-page {
        display: none;
    }

    .right-page {
        width: 100%;
    }
}
@media(max-width:800px) {

    .main-container {
        padding: 70px 0px 70px 0px;
    }

}

/* content */

#home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
}

.under-bar {
    border: 3px solid black;
    width: 100px;
}

.move-about-btn {
    position: relative;
    width: 150px;
    height: 70px;
    border: 1px solid black;
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
    background-color: rgb(51, 51, 51);
    transition: color 0.5s ease;
    z-index: 0;
}

.move-about-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(246, 251, 255);
    transition: left 0.5s ease;
    z-index: -1;
}

.move-about-btn:hover::before {
    left: 0;
}

.move-about-btn:hover {
    color: rgb(51, 51, 51);
}


.about-content {
    width: 100%;
}

.about-sub-title{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sub-title-bar {
    width: 100%;
    height: 0px;
    border: 1px solid black;
}

.question {
    margin-bottom: 5px;
}


.skill-content {
    width: 100%;
}

.skill-img-box {
    display: flex;
    margin-top: 10px;
}

.img-con {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 10px;
    background-color: rgba(245, 222, 179, 0.278);
    border-radius: 5px;
}

.skill-img-box img {
    width: 25px;
}

@media(max-width:800px) {
    .skill-img-box img {
        width: 18px;
    }
}
@media(max-width:570px) {
    .skill-img-box img {
        width: 15px;
    }
}


/* padding */

.pd-70 {
    padding: 70px;
}

@media(max-width:570px) {
    .pd-70 {
        padding: 50px 15px 50px 15px;
    }
}

/* footer */
footer {
    color: black;
    text-align: center;
    padding: 1.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}


@media(max-width:570px) {


}